body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(69, 68, 68);
  align-items: center;
}

#drum-machine {
  display:flex;
  align-items: center;
  justify-content: space-around;  
  background-color: gray;
  border: 2px solid black;
  width: 50vw;
  height: 45vh;
}

#drum-container
{
  width: 60%;
  height: 95%;
  gap: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#drum-config
{
  background-color: aquamarine;
  width: 30%;
  height: 95%;
}
.drum-pad
{
  background-color: gray;
  width: 100%;
  box-shadow:black 3px 3px 5px;
}